{% extends "layout.html" %}

{% block title %}
    Movie Recommender
{% endblock %}

{% block main %}
<div class="d-flex justify-content-center align-items-center mb-3">
    <form action="/recommend" method="get" class="me-2 d-flex">
        <input type="text" class="form-control me-2" id="movieSearch" 
            placeholder="type movie title to search..." autocomplete="off" />
        
        <select class="form-control basicAutoSelect me-2" name="movie" style="display: none;">
            <!-- As opções serão preenchidas dinamicamente -->
        </select>
        
        <button class="btn btn-primary" type="submit">Search</button>
    </form>

    <form action="/recommend_by_favorites" method="POST">
        <button type="submit" class="btn btn-warning" style="min-width: 150px;">Find based on favorites</button>
    </form>
</div>
<div class="recommendations mt-4">
    <h3>Recommended Movies</h3>
    <div class="row">
        {% for movie in recommendations %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="{{ movie['poster'] }}" class="card-img-top" alt="{{ movie['title'] }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ movie['title'] }}</h5>
                        <p class="card-text">{{ movie['reason'] }}</p> <!-- Exibe a razão da recomendação -->
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    jQuery(document).ready(function() {
        // Para preencher o select com as sugestões
        jQuery('#movieSearch').on('input', function() {
            var query = jQuery(this).val();
            if (query.length > 0) {
                jQuery.ajax({
                    url: '/search_movies',
                    data: { q: query }, // Passa a consulta
                    dataType: 'json',
                    success: function(data) {
                        // Limpa as opções existentes
                        jQuery('.basicAutoSelect').empty().show(); // Exibe o select
                        data.forEach(function(movie) {
                            // Adiciona as novas opções ao select
                            jQuery('.basicAutoSelect').append(new Option(movie.text, movie.text));
                        });
                    }
                });
            } else {
                jQuery('.basicAutoSelect').empty().hide(); // Esconde o select se não houver entrada
            }
        });

        // Log para confirmar a inicialização
        console.log('Autocomplete initialized successfully');
    });
</script>

{% endblock %}
